@font-face {
  font-family: helvetica;
  src: url("../../../assets/fonts/helvetica.eot"); }

@font-face {
  font-family: helvetica;
  src: url("../../../assets/fonts/helvetica.ttf"); }

@font-face {
  font-family: helvetica;
  src: url("../../../assets/fonts/helvetica.woff"); }

body {
  font-family: helvetica;
  background-color: #181818;
  color: white; }

.header {
  background-color: #242424;
  text-align: center;
  color: #9c8d58;
  font-size: 30px;
  padding: 20px; }

.content {
  transition: all 1s ease-in; }
  .content .col-md-6 {
    padding: 50px; }
  .content .content-title {
    font-size: 30px;
    color: #fce080;
    margin-bottom: 50px; }
  .content .content-content {
    font-size: 20px;
    transition: all 0.05s ease-out; }
  .content img {
    max-width: 99%;
    max-height: 300px;
    margin: 50px auto 0px auto;
    display: block;
    transition: all 3s ease-in; }
  .content .image-description {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 10px; }

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%; }
  .footer .line {
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 22px;
    opacity: 0.1; }
  .footer .part {
    cursor: pointer;
    text-align: center; }
    .footer .part .footer-title {
      color: #9c8d58;
      margin-bottom: 5px; }
      .footer .part .footer-title.active {
        color: #fce080; }
    .footer .part .time {
      margin-top: 5px; }

@media screen and (max-width: 800px) {
  .footer {
    position: relative;
    margin-top: 20px; } }
